source https://www.nuget.org/api/v2

nuget NETStandard.Library.NETFramework
nuget FSharp.Core
nuget EPPlus --version 4.5.3.1
nuget MicrosoftOfficeCore
nuget Microsoft.Office.Interop.Excel


// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
